body {
    background-color: #fcfcfc;
}

.footer {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    text-align: center;
}

a {
    font-family: "Open Sans";
    font-style: normal;
    font-size: 24px;
    color: #e5a8ff;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
} 
a:hover {
    text-decoration: none;
    color: #000000;
} 
a:active {
    text-decoration: none;
}

h1 {
    font-family: "Playfair Display";
    font-size: 40px;
    font-style: normal;
    color: #e5a8ff;
}

h2 {
    font-family: "Open Sans";
    font-size: 30px;
    font-style: normal;
    color: black;
}