body {
    background-color: #fcfcfc;
}

.navBar {
    height: 45px;
    position: fixed;
    vertical-align: middle;
    background-color: #54a8ab;
    margin: auto;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
}

.footer {
    position: fixed;
    background-color: #54a8ab;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "Playfair Display";
    color: #000000;
    font-size: 14px;
    font-style: normal;
    text-align: center;
}

.leftAlign {
    text-align: left;
}

.organization {
    font-family: "Playfair Display";
    font-size: 30px;
    font-style: normal;
    color: #54a8ab;
}

.homePage {
    padding: 70px 0;
    width: 99%;
    margin: auto;
}

.experience {
    align: inline-block;
    margin: auto;
    text-align: center;
}

.headshot {
    border-radius: 50%;
    width: 300px;
    border: 3px solid #000000;
    vertical-align: top;
}

.inline {
    display: inline-block;
    padding:0px 200px;
}

.circle {
    border-radius: 50%;
    width: 200px;
    border: 2px solid #000000;
}

a {
    font-family: "Open Sans";
    font-weight: 700px;
    font-size: 18px;
    color: #000000;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
} 
a:hover {
    text-decoration: none;
    color: #ffffff;
} 
a:active {
    text-decoration: none;
}

h1 {
    font-family: "Playfair Display";
    font-size: 45px;
    font-style: normal;
    color: #54a8ab;
}

h2 {
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    color: black;
}

h3 {
    font-family: "Open Sans";
    font-style: normal;
    font-size: 15px;
    color: #54a8ab;
}

h4 {
    font-family: "Open Sans";
    font-size: 30px;
    font-style: normal;
    color: black;
}

h5 {
    font-family: "Open Sans";
    font-style: normal;
    font-size: 15px;
    color: black;
    width: 400px;
    margin: auto;
    text-align: center;
}