html, body {
    font-family:'Open Sans',sans-serif;
    text-align: center;
    background-color: ##e0e0e0;
    height: 100%;
}

.headshot {
  border-radius: 50%;
}

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #0sds3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.home {
  color: #3965d5;
}

.experience {
  color: #C183F1;
}
.blog {
  color: #61ddff;
}
.next {
  color: #F183D6;
}

.contact {
  color: #8399F1;
}

.left, .right {

  margin: 5px;
  max-width: 50%;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}


.name {
  font: 'Open Sans', sans-serif;
  font-weight: bold;
}
